//best sellers slider
.best-sellers-slider {
  margin-top: 30px;

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  .best-product {
    opacity: .3;
    transform: scale(.8);
    transition: ease all .3s;

    &:hover {
      opacity: 1;
    }

    &.slick-current {
      opacity: 1;
      transform: scale(1);
    }
    
    .buy-now-btn {
      margin-top: 30px;
    }
  }
}