//best sellers slider
.best-sellers-slider {
  margin-top: 30px;

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }

  .best-product {
    opacity: .3;
    transform: scale(.8);
    transition: ease all .3s;

    &:hover {
      opacity: 1;
    }

    &.slick-current {
      opacity: 1;
      transform: scale(1);
    }

    .buy-now-btn {
      margin-top: 30px;
    }
  }
  #bestSellerModal {
    .reveal {
      width: 1273px !important;
      max-width: 75rem;
      z-index: 1006;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: none;
      padding: 1rem;
      border: 1px solid #cacaca;
      border-radius: 0;
      background-color: #fff;
      position: relative;
      top: 100px;
      margin-right: auto;
      margin-left: auto;
      overflow-y: auto;
    }
  }  
  
}