.video-cta-banner {
  position: relative;
  height: 700px;
  color: #fff;
  background: url('../assets/images/story_1.jpg') bottom no-repeat;
  background-size: cover;

  &:before {
    opacity: .5;
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  #banner-video-play-btn {
    transition: ease all .2s;

    &:hover {
      opacity: .8;
      cursor: pointer;
    }
  }

  .content {
    z-index: 2;
  }
}

//page-nav
.page-nav {
  height: 60px;

  .page-nav-track {
    width: 100%;
    overflow-x: auto;
  }

  nav {
    height: 65px;
  }

  .nav-item {
    opacity: .5;
    margin: 0 50px;
    text-align: center;
    transition: ease all .3s;

    &:hover {
      opacity: 1;
    }

    .product-logo {
      width: 100%;
    }
  }
}

//unfold
.unfold {
  height: 700px;
  background: url('../assets/images/technologylookbook_unfold.jpg') center/cover no-repeat fixed;
}

.lookbook-hinges {

  .section-heading {
    margin-bottom: 0;
  }

  .section-subheading {
    margin-bottom: 50px;
  }

  @at-root .lookbook-situations {
    .situation {
      overflow: hidden;

      .situation-inner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: ease all 1.5s;
      }

      .shop-now-btn {
        opacity: 0;
        transform: translateX(30px);
        transition: ease all .2s;
      }
      
      &:hover {
        .situation-inner {
          transform: scale(1.1);
        }

        .content {
          transform: scale(.9);
        }

        .shop-now-btn {
          opacity: 1;
          transform: translateX(0px);
        }
      }

      .content {        
        height: 600px;
        color: #fff;
        transition: ease all 1.5s;

        .content-inner {
          width: 100%;
          padding: 30px;
        }
      }
    }
  }
}
.self-healing-lensetints {

  .self-healing-lensetints-btn {
    padding-bottom: 40px;

    .self-healing-btn-icon {
      span {
        margin-left: 5px;
        margin-top: -3px;
      }
    }
  }
  .select-color {
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
  }
  
  .gradient-color-items {
    text-align: center;
    span {
      background-color: grey;
      padding: 20px;
      margin-left:5px;
    }
  }
}
