/* Medium and down */
@media screen and (max-width: 63.9375em) {

  //global starts
  .section-heading {
    margin-bottom: 30px;
  }
  //global ends***


  //header starts here 
  header {
    nav.flex-container {
      position: relative;
      overflow: auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background-color: #000;

      .nav-item {
        height: auto;

        .mega-product-menu {
          display: none;
          opacity: 1;
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;

          .featured {
            opacity: 1;
            padding: 30px;
            height: auto;
          }

          .all {
            opacity: 1;
            flex-direction: column;
            height: auto;

            .cat {
              width: 100%;
              height: auto;
              border: none;
              padding: 30px;
              border-bottom: 1px solid $light-gray;

              .view-collection {
                opacity: 1;
                margin-bottom: 0;
              }
              .product-image {
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .actions {
      display: none;
    }
  }
  //header ends here ***

  //home page starts here 
  .video-banner {
    .banner-content {
      margin: auto;
      
    }
  }
  

  .best-sellers-slider {
    .slick-arrow {
      display: none;
    }
    #bestSellerModal {
      .reveal {
        width: 1273px !important;
        max-width: 75rem !important;
      }
    }
  }

  .where-will-your-adv  {
    .cat-row-multiple,
    .cat-row-single {
      transform: scale(1);
    }
  
    .cat-row-single {
      transform: scale(1) translateY(0);

      .product {
        .actions {
          transform: translateY(80px) scale(1);
        }
      }
    }
  
    .product {
      transform: skewX(0deg);
  
      .product-content {
        height: 650px;
        transform: skewX(0deg) scale(1);
      }
  
      .actions {
        transform: translateY(0) scale(1);
      }
    }
  }

  .hilx-stories-cta {
    margin-top: 50px;
  }
  //home page ends here ***

  //about page starts here
  #about {
    h5, h6{
      padding-bottom: 20px;
    }

    .where-will-adv-collage {
      h3 {
        font-size: 3em;
      }
    }
    .hinge {
      div {
        .title {
          order: 2;
        }
        button {
          order: 3;
        }

        img {
          order: 1;
        }
      }
    } 
  }

  //about page ends here ***
  //about page starts here
 
  .hinge {
    .image {
      max-width: 60%;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  .page-banner {
    height: 250px;
  }

  .page-content {
    margin: 20px 0;

    .content-heading {
      margin: 40px 13px 20px 13px;
    }
  }

  .brand-intro {
    .section-heading {
      margin-bottom: 30px;
    }
  }

  .unfold {
    height: auto;
  }

  #look-book .unfold {
    height: 450px;
  }
  //about page ends here ***


  //lookbook page start here 
.self-healing-lensetints {
  .self-healing-lensetints-btn {
    .self-healing-btn-icon {
      i {
        margin-top: 1px;
        font-size: 30px;
      }
    }
  
      .self-healing-btn-icon-text {
        padding-left: 10px;
        font-size: 20px;
      }
    }
    .select-color {
      text-align: center;
      font-size: 15px;
    }
    
    .gradient-color-items {
      text-align: center;
      overflow: auto;
      span {
        padding: 20px;
        background-color: grey;
        margin-left:4px;
        margin-top: 20px;
        overflow-x: auto;
      }
    }
  }
  //lookbook page ends here ***

  //technology lookbook starts here
  .lookbook-situations {
    .situation {
      .content {
        height: 450px;
      }
    }
  }
  //technology lookbook ends here

  //products starts here
  .fw-image-cta-content {
    width: 100%;
    text-align: center;
  }

  .product-filters-wrapper {
    flex-direction: column;
    margin-top: 0;

    .product-filters-track {
      overflow-y: auto;
      margin-bottom: 25px;

      .product-filters {
        width: 800px;
      }
    }

    .product-sort .button {
      width: 100%;
    }
  }
  //products ends here ****

  //product single starts here
  .product-action-bar {
    .product-title {
      margin: 30px 0;

      &:before {
        bottom: -10px;
      }
    }

    .action-item {
      &.button {
        width: auto;
      }
    }
  }

  .in-the-box {
    .heading-black {
      margin: 15px auto;
    }
  }

  .product-customizer {

    .customized-preview {
      .product-image {
          height: 600px;
      }
    }

    .customizer-options-wrapper {
      #customizer-options-mobile-close-btn {
        display: block;
      }

      .options-inner {
        overflow-y: auto;
        z-index: 9999;
        position: fixed;
        top: 0;
        left: -100%;
        padding: 50px 20px 20px;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: ease all .3s;

        &.visible {
          left: 0;
        }
      }
    }
  }
  //product-single-ends here ***
  
  //cart-page start here
  .cart-page-title{
    text-align: center;
  }

  .cart{
    margin: 35px 0px;
    flex-direction: column;
    align-items: center;
  }

  .cart-product-img-name{
    width:200px;
  }
  // cart-page end here

  //lifestyle-page start here
  .stories-grid{
    .grid-block{
      margin-bottom: 0px;
      .top-grid{
        margin-bottom: 0px;
      }
    }

    .story{
      margin-bottom: 30px;
      
      &.small{
        height: auto;

        .image{
          height: 350px;
        }

        .content{
          height: auto;
        }
      }
    }
  }
  //lifestyle-page end here***

  //lifestyle-single start here 
  #lifestyle-single {
    .personal-heighlights {
      padding-top: 10px;
      padding-bottom: 10px
    }

    .section-heading {
      padding-top: 40px;
    }

    .title {
      text-align: center;
      padding-top: 0px;
      padding-bottom: 20px;
    }

    .timeline {
      .title {
        padding-bottom: 10px;
      }
    }
    
    .page-section {
      padding: 40px 0;
    }

    .user-info-block {
      display: flex;
      flex-direction: column;

      .user-image {
        align-self: center;
      }

      .user-info {
        align-self: center;
        display: flex;
        flex-direction: column;

        .user-map {
          align-self: center;
        }
      }
    }
  }
  //lifestyle-single end here****
  
  //warranty-page starts here
  .page-banner {
    .page-title {
      text-align: center;
    }
  }
  
  .warranty-grid {
    h3.warranty-grid-heading {
      margin-top: 40px;
    }
  }
  
  .warranty-grid-item {
    margin: 7.5px 0;
    padding: 25px 25px 30px 25px;
  
    img {
      padding-top: 60px;
      padding-bottom: 10px;
    }
  }
  // warranty-page end here****

  //lifestyle single starts here
  .user-cover {
    height: 280px;
  }

  .personal-heighlights {
    .timeline {
      margin-top: 20px;

      .event {
        justify-content: center;
      }
    }

    .personal-heighlights-inner {
      margin-top: 30px;
      text-align: center;
    }
  }

  .john-wears {
    margin-bottom: 70px;

    .section-heading {
      margin: 40px auto 0px auto;
    }

    .product {
      margin-bottom: 30px;
    }
  }
  //lifestyle single ends here***

  // checkout start here 
  .main-checkout-box {
    padding-left: 15px;
    padding-right: 15px;

    #checkout-form {
      padding-right: 0px;
    }

    .proceed-to-payment-button {
      .button {
        width: 100%;
      }
    }
    
    .detail-payment {
      padding: 25px 96px 0px 23px;
    }
  }
  // checkout start here 

  //payment-method starts here 

  #credit-card-form {
    padding-right: 0px;
  }
  //payment-method starts end****

  //contact page starts here 
  .contact-form {
    margin-top: -170px;
  }
  //contact page ends here***

  .page-section {
    padding: 50px 0;
  }

  footer {
    padding: 30px 15px;

    .actions, .nav {
      justify-content: left;
    }

    .nav-inner {
      text-align: left;
    }
  }

  //footer starts here
  footer {
    .instagram {
      .insta-plugin {
        img {
          width: 100%;
        }
      }
    }
    
    .actions-inner {
      width: 100%;
    }

    .nav {
      margin-top: 30px; 
    }
  }
  //footer ends here***
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  
  //newsletter cta starts
  .newsletter-cta {
    margin: 40px auto;
    padding: 0px 15px;

    .image {
      height: 200px;
    }

    .content {
      height: 230px;
      padding: 0 15px;

      &:before {
        display: none;
      }
    }
  }
  //newsletter cta ends***

  //home page starts here
  
  // video starts here 
  .reveal-overlay {
    position: fixed;
    top: 60px;
    right: 40px;
    left: 0px;
    z-index: 1005;
    display: none;
    background-color: rgba(0,0,0,0.45);
    overflow-y: scroll;
  }
  // video ends here  
  
  // where-will-your-adv starts here
  .where-will-your-adv {  
    .section-heading {
      max-width: 300px;
      margin-bottom: 30px;
    }

    .product {  
      .product-content {
        height: 400px;
      }
    }
  }
  //home page ends here***

  //about page starts here
  .featured-cta {
    .featured-cta-inner {
      height: auto;
      padding: 0 0 40px;
    }

    .content {
      .info {
        padding: 0 10px;
        text-align: center;
      }
    }
  }

  .switch-blade {
    height: 450px;
    text-align: center;
  }
  //about page ends here ***

  //contact page starts here 
  .contact-form {
    margin: 0;
    margin-top: -210px;
    padding: 20px;
  }

  .contact-faq {
    margin-top: 60px;
  }

  .contact-faq-accordion {
    margin-top: 20px;
  }
  //contact page ends here***

  //technology lookbook starts here
  .video-cta-banner {
    height: 450px;

    .content {
      margin-top: 20px;

      .title {
        text-align: center;
      }
    }
  }

  .shop-now-cta {
    height: 450px;

    .content-inner {
      padding: 20px;
      text-align: center;
    }
  }
  //technology lookbook ends here***

  // product single starts here
  .product-action-bar {

    .actions {
      margin-bottom: 20px;
    }  
      
    .product-info-wrapper {
      height: auto;
    }

    .action-item.button {
      width: auto;
    }
  }

  .product-customizer {
    .customized-preview {
      .product-image {
          height: 300px;
      }
    }
  }

  .warranty {
    height: 400px;
  }

  .in-the-box {
    img {
      width: 100%;
    }
  }

  .features {
    .heading-black {
      margin: 15px 0 20px;
    }
  }
  // product single ends here ****
}