.main-credit-card-box {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
 
  .credit-card-form {
    padding-right: 100px;
 
    input[type="date"] {
      margin-top: 56px;
      border: none;
      border-bottom: 1px solid black;
      padding-left: none;
    }
 
    input[type="text"]  {
      margin-top: 45px;
    }
 
    input[type="number"] {
      border: none;
      border-bottom: 1px solid black;
      margin-top: 25px;
      padding-left: none;
      padding-top: 50px;
    }
 
    #cvv {
      margin-left: 40px;
    }
 
    .add {
      font-size: 16px;
      padding-top: 15px;
      padding: 20px;
      font-weight: 200;
      background-color:#F8F8F8;
    }
 
    .button {
      width: 100%;
      margin-top: 50px;
      height: 50px;
    }
  }
 
  .icon {
    margin-top: 60px;
  }
}
 
.detail-payment{
  background-color: black;
  color: white;
  height:220px;
  padding: 30px;
  margin-top: 50px;

  .left-col {
    span{
      line-height: 35px;
      font-weight: 200;
    }
  
    div {
      line-height: 30px;
    }
  }

  .order-total {
    h4 {
      background-color: black;
      color: white;
      width:350px;
    }
  }
}
