.warranty-grid-heading{
  margin-top: 120px;
}

.warranty-grid-item{
    background-color: black;
    color:white;
    padding: 30px;
    margin-top: 50px;
    .warranty-grid-item-heading{
      font-size: 1.5em;
      margin-top: 50px;
    }
    .warranty-grid-item-descripction{
      margin-top: 15px;
  }
 }

 