.where-will-your-adv  {

  .section-heading {
    margin-bottom: 100px;
  }

  .cat-row-multiple,
  .cat-row-single {
    transform: scale(1.12);
  }

  .cat-row-single {
    transform: scale(1.12) translateY(75px);

    .product {
      &:first-child {
        .product-content{
          margin-left: 42px;
          color: black;
          .product-name {
            font-weight: lighter;
            font-size: 1.5em;
            text-align: center;
          }
          &:before {
            opacity: 0;
          }
        }
      }

      .actions {
        transform: translateY(210px) scale(0.8);
      }
    }
  }

  .product {
    overflow: hidden;
    position: relative;
    color: #fff;
    transform: skewX(-10deg);

    .product-content {
      position: relative;
      height: 700px;
      background-size: cover;
      transform: skewX(10deg) scale(1.23);

      &:before {
        @extend #black-overlay-full;
      }

      .product-content-inner {
        z-index: 2;
        margin-bottom: 60px;
      }
    }

    .product-name,
    .product-cat,
    .actions {
      z-index: 2;
      transform: scale(.8);
    }

    .product-cat {
      margin-bottom: 50px;

      img {
        width: 200px;
        height: 25px;
      }
    }

    .actions {
      transform: translateY(150px) scale(.8);
    }
  }
}