doctype html
html(class="no-js" lang="en")
  include head
  body#home-page
    include header

    section.cart
      .grid-container
        h3.cart-page-title.page-title Your Cart (4)
        .cart.grid-x.grid-margin-x
          .cell.large-8.medium-12.cart-product-details
            each item in [1,2,3,4]
              .cart-product
                .flex-container.align-justify
                  .cart-product-img-name.flex-container.align-middle.align-justify
                    img.cart-product-img(src="../assets/images/product.jpg")
                    .cart-product-name.flex-container.align-spaced.align-center-middle
                      span Ashley Black
                  .cart-price-quantity-remove.flex-container.align-middle.align-spaced
                    span.cart-product-price $79.00
                    .cart-price-quantity.flex-container.align-center-middle
                      .cart-price-quantity-number.flex-container.align-center-middle
                        span 1
                      .cart-price-quantity-increase-decrease.flex-container.flex-dir-column
                        i.fa.fa-plus
                        i.fa.fa-minus
                    img.cart-product-remove(src="../assets/icons/close.svg")
                  
          .cell.large-4.medium-12.cart-product-payment-details
            .detail-payment.cell.flex-container.flex-dir-column
              h4.order-total Order Total
              .left-col.flex-container.align-justify
                span Total
                div $316.00
              .left-col.flex-container.align-justify
                span Subtotal
                div $316.00
              .cart-coupen.flex-container
                input.form-componen.cart-enter-coupen(type="text" placeholder="Enter Coupon Code")
                button.cart-coupen-apply-btn.button.primary Apply
            .cart-continue-checkout.flex-container.flex-dir-column
              button.cart-continue-btn.button.secondary CONTINUE SHOPPING
              button.cart-checkout-btn.button.primary CHECK OUT

    
    include footer
    include scripts