footer
  .grid-container
    .footer-top.grid-x.grid-margin-x
      .actions.cell.medium-6.large-6.flex-container.align-left.align-self-top
        .actions-inner
          form#footer-search
            h4 Search
            input#footer-search-text(type="text" placeholder="Search")
          form#footer-newsletter-form
            h4 
              strong FREE SHIPPING 
              span with Newsletter Sign up
            .flex-container
              input#footer-newsletter-email(type="text" placeholder="johndoe@email.com")
              button#footer-signup-btn.button.primary Sign Up
          .instagram 
            button.button.secondary Instagram   

      .nav.cell.medium-6.large-6.flex-container.align-right
        .nav-inner.flex-container.flex-dir-column.text-right
          .logo
            img(src="../assets/hilx_logo.svg" alt="HILX Logo" width="100px")
          nav
            each link in ['PRODUCTS', 'ABOUT', 'PRIVACY POLICY', 'SHIPPING POLICY', 'LIFETIME WARRENTY', 'RETURN POLICY', 'CONTACT US']
              .nav-item
                a(href="#" title="link")= link

    .footer-bottom.flex-container.align-justify
      .icons.flex-container
        a(href="#").icon
          i.fab.fa-facebook-f
        a(href="#").icon
          i.fab.fa-instagram
      .copyright Copyright HILX 2018
       