header
  .header-inner.grid-container.flex-container.align-justify.align-middle
    .header-left.flex-container
      .flyout-menu-toggle-wrapper
        #flyout-menu-toggle
          i.fa.fa-bars
      
      .logo
        a(href="/html/home.html")
          img(src="../assets/hilx_logo.svg", alt="HILX Logo" width="98px")
      
      #flyout-menu
          .flyout-menu-item
            a(href="/html/about.html") About
          .flyout-menu-item
            a(href="/html/products.html") All Products
          .flyout-menu-item
            a(href="/html/contactus.html") Contact Us
          .flyout-menu-item
            a(href="/html/products.html") Product Care

    .top-nav-wrapper
      nav.top-nav.flex-container.align-center-middle
        .nav-item
          a.mega-menu-toggle.nav-item-link.flex-container.align-center-middle(href="#") Shop
            i.fas.fa-caret-down
          .mega-product-menu.mega-menu-target
            .featured.grid-x
              .product-image.cell.large-5.flex-container.align-center-middle
                img(src="../assets/images/product.jpg", alt="Product Image")
              .product-info.cell.large-4.flex-container.flex-dir-column.align-center-middle.text-center
                h3.title Ashley Black
                .cat World of Wonder
                h4.price $79.00
              .buy-now.cell.large-3.flex-container.align-center-middle
                button.button.primary Buy Now

            - 
              var cats = [
                { name: 'Nomad', logo: 'nomad.svg' },
                { name: 'Unfold', logo: 'unfold.svg' },
                { name: 'World of Wonder', logo: 'wow.svg' },
                { name: 'Zeus', logo: 'zeus.svg' },
                { name: 'Nautical', logo: 'nautical.svg' },
              ];

            .all.flex-container
              each cat in cats
                .cat.flex-container.flex-dir-column.align-center-middle
                  .product-name
                    img(src="../assets/product_logos/" + cat.logo alt="#{cat.name}")
                  .product-image
                    img(src="../assets/images/product.jpg", alt="#{cat.name} + Image")
                  a.view-collection(href="#" title="View Collection") View collection

        .nav-item
          a.nav-item-link(href="/html/lookbook.html") Technology
        .nav-item
          a.nav-item-link(href="/html/lifestyle.html") Lifestyle
    .actions.flex-container.align-middle
      button.button(type="button" data-toggle="example-dropdown-2") Login
      #example-dropdown-2.dropdown-pane(data-dropdown data-hover="true" data-hover-pane="true") 
        ul#example-tabs.tabs(data-tabs)
          li.tabs-title.is-active
            a(href="#panel1" aria-selected="true") login
          li.tabs-title
            a(data-tabs-target="panel2" href="#panel2") Registre

        div.tabs-content(data-tabs-content="example-tabs")
          div#panel1.tabs-panel.is-active
            form 
              .grid-x.grid-margin-x
                .cell.medium-12
                  label Email
                  input(type="email")
                  label password
                  input(type="password")
                  button.button.primary login

          div#panel2.tabs-panel
            form 
              .grid-x.grid-margin-x
                .cell.medium-12
                  label Email
                  input(type="email")
                  label password
                  input(type="password")
                  button.button.primary Registre 
                    
           
          
                        
      .add-to-cart
        i.fa.fa-shopping-cart
      .option-dropdown
        button.button(type="button" data-toggle="example-dropdown-1") option
          i.fas.fa-caret-down
        #example-dropdown-1.dropdown-pane(data-dropdown data-hover="true" data-hover-pane="true") 
          ol
              li
                a North America
              li
                a Europe
              li
                a South America
              li
                a UK
              li
                a Asia