doctype html
html(class="no-js" lang="en")
  include head
  body#home-page
    include header

    section.video-banner.flex-container.align-middle(style="background-image: url('../assets/images/home_banner.jpeg')")
      article.banner-content.text-center
        a(href='#' data-reveal-id='videoModal' data-open="videoModal")
          img(src='../assets/icons/play.svg' alt='Play Video' width='100px')
      
        #videoModal.reveal.small.large(data-reveal='' aria-labelledby='videoModalTitle' aria-hidden='true' role='dialog')
          h2#videoModalTitle Video
          .flex-video.widescreen.vimeo 
            iframe(width='1280' height='720' src='//www.youtube-nocookie.com/embed/wnXCopXXblE?rel=0' frameborder='0' allowfullscreen='')
          button.close-button.pos(data-close aria-label="Close reveal" type="button")
            span(aria-hidden="true") &times;
          
        h1.text OWN THE <br/> ADVENTURE

    include collection-slider
    include best-sellers
    include newsletter-cta
    include where-will-adventure

    section.hilx-stories-cta
      h2.section-heading HILX STORIES
      .content.flex-container.align-middle
        .content-inner
          h3.title This is a HILX story title
          p.description "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
          button.button.primary Learn More


    include footer
    include scripts
    