doctype html
html(class="no-js" lang="en" style="scroll-behavior: smooth;")
  include head
  body#look-book
    include header

    - var videoCtaBannerTitle = "Look Book"
    include video-cta-banner

    - 
      var cats = [
        { name: 'Nomad', logo: 'nomad.svg', width: '100px' },
        { name: 'Unfold', logo: 'unfold.svg', width: '100px' },
        { name: 'World of Wonder', logo: 'wow.svg', width: '220px' },
        { name: 'Zeus', logo: 'zeus.svg', width: '100px' },
        { name: 'Nautical', logo: 'nautical.svg', width: '100px' },
      ];
    - 
      var cats = [
          { name: 'Unfold', logo: 'nomad.svg', width: '100px', id: '#Unfold' },
          { name: 'High impact lenses', logo: 'unfold.svg', width: '200px', id: '#highImpact' },
          { name: 'Self heeling lenses', logo: 'wow.svg', width: '200px', id: '#selfHealingLenseTints' },
          { name: '350 degree hinges', logo: 'zeus.svg', width: '200px', id: '#lookbookHinges' }
        ]; 

    section.page-nav
      .grid-container
        .page-nav-track
          nav.flex-container.align-center-middle
            each cat in cats
              a.nav-item(href=cat.id style="width:" + cat.width) #{cat.name} 
                

    section.unfold.flex-container.align-center-middle.page-section#Unfold
      img(src="../assets/product_logos/unfold_white.svg" alt="Unfold" width="300px")
      
    section.high-impact.page-section.video-section#highImpact
      .grid-container
        h2.title.section-heading HIGH IMPACT LENSES
        .video-wrapper
          img.play-video-btn(src="../assets/icons/play.svg" alt="Play video" width="60px")
          video(x-webkit-airplay="allow" poster="../assets/images/technologylookbook_high_impact_lanses.jpg") Your browser does not support HTML5 video
            source(src="../assets/videos/video.mp4" type="video/mp4")

    section.self-healing-lensetints.page-section.slider-section#selfHealingLenseTints
      .grid-container
        h2.title.section-heading SELF HEALING LENSE TINTS
        .self-healing-lensetints-btn.flex-container.flex-dir-row.align-center
          .self-healing-btn-icon.flex-container.flex-dir-row
            i.far.fa-play-circle
          .self-healing-btn-icon-text.flex-container.flex-dir-row
            span Watch the Healing
        div.select-color Select Color
          .gradient-color-items.flex-container.flex-dir-row.align-center
           each item in [1,2,3,4,5,6,7,8,9,10]
            span
            
            
    section.image-compare
      .images
        img(src="../assets/images/fw.jpg", alt="Image")
        img(src="../assets/images/story.jpg", alt="Image")

    section.page-section.video-section#lookbookHinges
      .grid-container
        h2.title.section-heading 360 HINGES
        p.section-subheading.text-center Effective in situations like
        .video-wrapper
          img.play-video-btn(src="../assets/icons/play.svg" alt="Play video" width="60px")
          video(x-webkit-airplay="allow" poster="../assets/images/technologylookbook_self_healing_lenses_tints_video.jpg") Your browser does not support HTML5 video
            source(src="../assets/videos/video.mp4" type="video/mp4")

    - 
      var situations = [
        { name: 'Mountain Climbing', image: 'situations/1.jpg' },
        { name: 'Snowboarding', image: 'situations/2.jpg' },
        { name: 'Surfing', image: 'situations/3.jpg' },
        { name: 'Hiking', image: 'situations/4.jpg' }
      ]

    section.lookbook-hinges
      .lookbook-situations.grid-x
        each situation in situations
          - var bg = "background-image: url('../assets/images/" + situation.image + "')"; 
          .situation.cell.medium-6
            .situation-inner(style= bg)
              .content.flex-container.align-bottom
                .content-inner.flex-container.align-justify
                  h3.name= situation.name
                  button.button.secondary.shop-now-btn Shop Now

    include warranty
    include shop-now-cta

    include footer
    include scripts

    script(src="../vendors/twentytwenty/js/jquery.event.move.js")
    script(src="../vendors/twentytwenty/js/jquery.twentytwenty.js")