doctype html
html(class="no-js" lang="en")
  include head
  body#look-book
    include header

    - var videoCtaBannerTitle = "Look Book"
    include video-cta-banner

    - 
      var cats = [
        { name: 'Nomad', logo: 'nomad.svg', width: '100px' },
        { name: 'Unfold', logo: 'unfold.svg', width: '100px' },
        { name: 'World of Wonder', logo: 'wow.svg', width: '220px' },
        { name: 'Zeus', logo: 'zeus.svg', width: '100px' },
        { name: 'Nautical', logo: 'nautical.svg', width: '100px' },
      ];

    section.page-nav
      .grid-container
        .page-nav-track
          nav.flex-container.align-center-middle
            each cat in cats
              a.nav-item(href="#" style="width:" + cat.width)
                img.product-logo(src="../assets/product_logos/" + cat.logo  alt= cat.name)

    section.unfold.flex-container.align-center-middle
      img(src="../assets/product_logos/unfold_white.svg", alt="Unfold" width="300px")

    section.high-impact.page-section.video-section
      .grid-container
        h2.title.section-heading HIGH IMPACT LENSES
        .video-wrapper
          img.play-video-btn(src="../assets/icons/play.svg" alt="Play video" width="60px")
          video(x-webkit-airplay="allow" poster="../assets/images/technologylookbook_high_impact_lanses.jpg") Your browser does not support HTML5 video
            source(src="../assets/videos/video.mp4" type="video/mp4")

    section.page-section.video-section
      .grid-container
        .video-wrapper
          img.play-video-btn(src="../assets/icons/play.svg" alt="Play video" width="60px")
          video(x-webkit-airplay="allow" poster="../assets/images/technologylookbook_self_healing_lenses_tints_video.jpg") Your browser does not support HTML5 video
            source(src="../assets/videos/video.mp4" type="video/mp4")

    - 
      var situations = [
        { name: 'Mountain Climbing', image: 'situations/1.jpg' },
        { name: 'Snowboarding', image: 'situations/2.jpg' },
        { name: 'Surfing', image: 'situations/3.jpg' },
        { name: 'Hiking', image: 'situations/4.jpg' }
      ]

    section.lookbook-hinges
      h2.title.section-heading 360 HINGES
      p.section-subheading.text-center Effective in situations like
      .lookbook-situations.grid-x
        each situation in situations
          - var bg = "background-image: url('../assets/images/" + situation.image + "')"; 
          .situation.cell.medium-6
            .situation-inner(style= bg)
              .content.flex-container.align-bottom
                .content-inner.flex-container.align-justify
                  h3.name= situation.name
                  button.button.secondary.shop-now-btn Shop Now

    include warranty
    include shop-now-cta

    include footer
    include scripts