section.newsletter-cta.grid-container.page-section
  .grid-x
    .image.cell.large-6
    .content.cell.large-6.flex-container.flex-dir-column.align-center-middle
      div
        h2.heading 
          span.bold-cap FREE SHIPPING
          br
          span.light-lower With Newsletter Sign Up
        form#newsletter-form.flex-container(action="")
          input#newsletter-email(type="text" placeholder="johndoe@email.com")
          button.button.primary#newsletter-submit-btn(type="submit") SIGN UP

    
