doctype html
html(class="no-js" lang="en")
  include head
  body#home-page
    include header

    section.page-content
      .grid-container.main-credit-card-box
        h1.content-heading Credit Card
        .grid-x.grid-margin-x.grid-padding-x
          .cell.large-8
            form#credit-card-form
              h2.form-section-heading Contact Information
              input#card-no(type="text" placeholder="card Number") 
              input#Card-holder-Name(type="text" placeholder="Cardholder Name") 
              .mm-yy.flex-container
                input#mm-yy(type="date" placeholder="MM/YY")
                input#cvv(type="text" placeholder="CVV")
                i.far.fa-question-circle.icon-question-mark
              h2.form-section-heading Billing Address
              .shippin-address.flex-container.flex-dir-column
                .shipping-add.flex-container.flex-dir-row
                  input#address(type="radio" name="cost" value="addresss")
                  labal#shhipiing-add.radio-btn-right-text Use same as shipping address
              h2.address 4627 Strother Street,  <br/>Tuscaloosa, Alabama. 35404 <br/> Mobile Number - 205-633-0558 
              .billing-address.flex-container.flex-dir-column
                .bill-add.flex-container.flex-dir-row
                  input#radio-btn(type="radio" name="cost" value="addresss")
                  labal#billing-address.radio-btn-right-text Use different billing address
              input#street(type="text" placeholder="Street") 
              input#city(type="text" placeholder="City")
              zip-country.flex-container 
                input#zipcode(type="text" placeholder="Zipcode")
                input#country(type="text" placeholder="Country")
              input#mo-no(type="number" placeholder="Mobile Number") 
              button#purchase-btn.button PURCHASE
          .cell.large-4
            .cell.large-4.detail-payment
              .order-total.flex-container.flex-dir-row
                h4.order-total Order Total
              .left-col.flex-container.flex-dir-row.align-justify
                span Subtotal
                div $316.00
              .left-col.flex-container.flex-dir-row.align-justify
                span Shipping
                div -
              .left-col.flex-container.flex-dir-row.align-justify
                span Coupen discount
                div - $10.00
              .left-col.flex-container.flex-dir-row.align-justify
                span Total
                div $306.00

    include footer
    include scripts