doctype html
html(class="no-js" lang="en")
  include head
  body#product-single
    include header

    section.product-action-bar
      .grid-container
        .product-info-wrapper.grid-x.grid-margin-x.align-middle
          .title.cell.large-8.medium-6
            h1.product-title Product Title
          .actions.cell.large-4.medium-6
            .flex-container.align-middle.align-justify
              h2.price.action-item $80
              .flex-container
                button.button.secondary.action-item 5 Items
                button.button.primary.action-item Add to Cart

    section.product-customizer
      .grid-container
        .customizer-inner.grid-x.grid-margin-x
          
          //- customized preview here -------------
          .customized-preview.cell.large-8
            .product-image
              img(src="", alt="")

            .options-toggles
              .logos.options-toggle#logo-options-toggle.active(data-target="customizer-option-logos")
                .icon
                  img(src="", alt="Open logos options")
                .title Logo
              .lenses.options-toggle#lenses-options-toggle(data-target="customizer-option-lenses")
                .icon
                  img(src="", alt="Open Lenses options")
                .title Logo
              .arms.options-toggle#arms-options-toggle(data-target="customizer-option-arms")
                .icon
                  img(src="", alt="Open Arms options")
                .title Logo

          //- product options here -----------
          .customizer-options-wrapper.cell.large-4
            .options-inner

              #customizer-options-mobile-close-btn
                i.fa.fa-times
              
              .customizer-option#customizer-option-logos.active
                .grid-x.grid-margin-x
                  each item in [1,2,3,4,5,6,7,8,9,10]
                    .cell.medium-6.item

              .customizer-option#customizer-option-lenses
                .grid-x.grid-margin-x
                  each item in [1,2,3,4,5,6,7,8,9,10]
                    .cell.medium-6.item
              
              .customizer-option#customizer-option-arms
                .grid-x.grid-margin-x
                  each item in [1,2,3,4,5,6,7,8,9,10]
                    .cell.medium-6.item

    section.lense-info.grid-container
      h2.title Lense name
      p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley

    section.image-compare
      .images
        img(src="../assets/images/fw.jpg", alt="Image")
        img(src="../assets/images/story.jpg", alt="Image")


    section.features.page-section
      .grid-container
        h4.heading-black Features
        .features-grid.grid-x.grid-margin-x
          each feature in [1,2,3,4,5,6]
            .feature.cell.medium-6
              .grid-x.feature-inner.grid-margin-x
                .icon.cell.shrink
                  img(src="../assets/icons/feature.svg" width="50px" alt="Feature image")
                .info.cell.auto
                  .name Feature name
                  p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 


    section.in-the-box
      .grid-container
        h4.heading-black In the Box
        .grid.grid-x.grid-margin-x
          each item in [1,2,3]
            .item.cell.medium-4
              img.image(src="../assets/images/box.jpg", alt="In the box")
              h4.title.text-center Title here

    
    include newsletter-cta
    include warranty

    - var totalProducts = 3;
    - var showControls = false;
    - var hasHeading = true;
    include product-grid




    include footer
    include scripts

    script(src="../vendors/twentytwenty/js/jquery.event.move.js")
    script(src="../vendors/twentytwenty/js/jquery.twentytwenty.js")