- 
  var cats = [
    { name: 'Nomad', logo: 'nomad_white.svg', width: '100px' },
    { name: 'Unfold', logo: 'unfold_white.svg', width: '100px' },
    { name: 'World of Wonder', logo: 'wow_white.svg', width: '220px' },
    { name: 'Zeus', logo: 'zeus_white.svg', width: '100px' },
    { name: 'Nautical', logo: 'nautical_white.svg', width: '100px' },
  ];

section.product-grid-outer
  .grid-container
    
    if (showControls)
      section.product-filters-wrapper.flex-container.align-justify
        .product-filters-track
          article.product-filters.flex-container
            each cat in cats
              a.product-filter.flex-container.align-center-middle(href="#" style="width:" + cat.width)
                img(src="../assets/product_logos/" + cat.logo alt="Filter" + cat.name)
        article.product-sort
          button.sort-btn.button.secondary(type="button" data-toggle="example-dropdown-1") Sort
            i.fas.fa-caret-down
          #example-dropdown-1.dropdown-pane(data-dropdown data-hover="true" data-hover-pane="true") 
            ol
              li
                a item1
              li
                a item2

    if (hasHeading)
      h2.product-grid-heading.text-center OTHER PRODUCTS YOU MIGHT LIKE


    section.product-grid.grid-x.grid-margin-x
      - var i = 0;
      while i < totalProducts
        - i++;
        .product.cell.large-4.medium-6
          .image
            img(src="../assets/images/product.jpg", alt="Product")
          .info
            h3.title Ashley Black
            .info-bottom.flex-container.flex-container.align-justify
              h5.cat WORLD OF WONDER
              h6.price $79.00
          .actions.grid-x.grid-margin-x
            button.button.primary.cell.medium-6.buy-btn Buy
            button.button.secondary.cell.medium-6.customize.btn Customize
      if (showControls)
        .pagination-wrapper.flex-container.align-center
          nav(aria-label="Pagination")
            ul.pagination
              li.paginationprevious.disabled 
                a(href="#" aria-label="Previous Page") 
                  i.fa.fa-angle-left
              li.current
                span.show-for-sr You're on page 
                span 1
              li
                a(href="#" aria-label="Page 2") 2
              li
                a(href="#" aria-label="Page 3") 3
              //li.ellipsis(aria-hidden="true")
              li
                a(href="#" aria-label="Page 4") 4
              li
                a(href="#" aria-label="Page 5") 5
              li.paginationnext
                a(href="#" aria-label="Next page")
                  i.fa.fa-angle-right
                  span.show-for-sr page
            span.page-number.flex-container.align-center Page 1 of 5


