doctype html
html(class="no-js" lang="en")
  include head
  body#products
    include header

    include best-sellers

    section.fw-image-cta 
      .fw-image-cta-inner.grid-container.flex-container.align-middle
        .fw-image-cta-content
          h2.title HEADING GOES HERE
          button.button.primary Customize

    - var totalProducts = 6;
    - var showControls = true;
    include product-grid


    include footer
    include scripts