section.warranty.flex-container.align-center-middle.page-section
  .content.text-center
    h2.title HILX LIFETIME WARRANTY
    p.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
    a(href="#") view warranty
    button.button.secondary.shop-now Shop Now