section.where-will-your-adv 
  h2.section-heading WHERE WILL YOUR ADVENTURE TAKE YOU
  
  .cat-row-multiple.grid-x
    .product.cell.large-6
      .product-content.flex-container.flex-dir-column.align-center-middle(style="background: url('../assets//images/banner.jpg') center no-repeat;")
        h2.product-name Dark Volcano
        .product-cat 
          img(src="../assets/product_logos/nomad_white.svg" alt="Product")
        .actions.flex-container
          button.button.secondary.view
            img(src="../assets/icons/view.svg", alt="View product" width="30px")
          button.button.primary.add-to-cart
            img(src="../assets/icons/cart_white.svg", alt="Add product to cart" width="30px")
    .product.cell.large-6
      .product-content.flex-container.flex-dir-column.align-center-middle(style="background: url('../assets//images/story_2.jpg') center no-repeat;")
        h2.product-name Dark Volcano
        .product-cat 
          img(src="../assets/product_logos/nomad_white.svg" alt="Product")
        .actions.flex-container
          button.button.secondary.view
            img(src="../assets/icons/view.svg", alt="View product" width="30px")
          button.button.primary.add-to-cart
            img(src="../assets/icons/cart_white.svg", alt="Add product to cart" width="30px")

  .cat-row-single.grid-x
    .product.cell.large-6
      .product-content.flex-container.flex-dir-column.align-center-middle(style="background: url('../assets//images/banner.jpg') center no-repeat;")
        h2.product-name Dark Volcano
        .product-cat 
          img(src="../assets/product_logos/nomad_white.svg" alt="Product")
        .actions.flex-container
          button.button.secondary.view
            img(src="../assets/icons/view.svg", alt="View product" width="30px")
          button.button.primary.add-to-cart
            img(src="../assets/icons/cart_white.svg", alt="Add product to cart" width="30px")
    .product.cell.large-6
      .product-content.flex-container.flex-dir-column.align-center-middle(style="background: url('../assets//images/story_2.jpg') center no-repeat;")
        h2.product-name Dark Volcano
        .product-cat 
          img(src="../assets/product_logos/nomad_white.svg" alt="Product")
        .actions.flex-container
          button.button.secondary.view
            img(src="../assets/icons/view.svg", alt="View product" width="30px")
          button.button.primary.add-to-cart
            img(src="../assets/icons/cart_white.svg", alt="Add product to cart" width="30px")
      
  //- .cat-row-single.grid-x
  //-   .cell.large-6
  //-     .product-name Dark Volcano
  //-     .product-cat 
  //-       img(src="../assets/product_logos/nomad.svg" alt="Product")
  //-   .cell.large-6
  //-     .product-name Dark Volcano
  //-     .product-cat 
  //-       img(src="../assets/product_logos/nomad.svg" alt="Product")